h1 {
  color: #005580;
  text-align: center;
  font-family:Verdana;
}
h2{
  color: #003d99;
  align-content: center;
  font-family:Verdana;
}
body {
  background-color: #f0ffff;
  background-size: auto;
  font-family:Verdana;
  align-content:center;
}
visual{
  align-content: center;
}
p{
  padding-left: 100px;
  padding-right:100px;
  align-content: center;
}
