h1 {
  color: #005580;
  text-align: center;
  font-family:Verdana;
}
h2{
  color: #003d99;
  text-align: center;
  font-family:Verdana;
}
body {
  background-color: #f0ffff;
  background-size: auto;
  font-family:Verdana;
}
div{
  text-align: center;
}
