body {
  background-color: #f0ffff;
  background-size: auto;
  font-family:Verdana;
  align-content:center;
}

h1 {
  color: #005580;
  text-align: center;
  align-content: center;
  font-family:Verdana;
}
h2{
  color: #003d99;
  align-content: center;
  font-family:Verdana;
}
.vega-embed {
    padding: 10px;
    position: relative;
    display: block;
    box-sizing: border-box;
  justify-content: center;
  width:50%;
}
p{
  padding-left: 100px;
  padding-right:100px;
  align-content: center;
  text-align: center;
}
